body {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

svg {
  height: 25px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 160px 4fr;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: #243665;
  color: white;
}

.header {
  grid-column: 2 / 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.projects {
  grid-column: 2;
  grid-row: 2;
  padding-left: 20px;
}

.miscelaneous {
  grid-column: 3;
  grid-row: 2;
}

.search-bar {
  grid-column: 1;
  grid-row: 1;
}

.user-info {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 20px;
  align-items: center;
}

.top-icons {
  grid-column: 2;
  grid-row: 1;
}

.buttons {
  grid-column: 2;
  grid-row: 2;
}

.sidebar > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 40px;
  padding-bottom: 30px;
  font-size: 22px;
}

#title {
  font-size: 20px;
}

#dashboard {
  height: 35px;
}

a {
  text-decoration: none;
  transition: 0.4s;
  font-size: 20px;
}

a:visited, 
a:active,
a:link {
  color: white;
}

a:hover {
  translate: 10px 0px 0px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 
}

.cards > div {
  margin: 10px;
  padding: 10px;
  background-color: rgb(250, 243, 243);
  border-radius: 10px;
  border-left: solid #FF4155;
  border-width: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.news > div {
  padding-right: 0px;
}


.trending {
  padding-top: 30px;
}

.trendy-users > div {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.trendy-users > div > img {
  height: 45px;
}

#main-user-img {
  height: 60px;
}

.header {
  align-items: center;
}

.top-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-size: 20px;
  padding: 10px;
  min-width: 70px;
  border-radius: 15px;
  background-color: #3b518d;
  color: white;
  border: none;
  transition: 0.4s;
}

button:hover {
  background-color: #FF4155;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: stretch;
  gap: 10px;
}

input {
  display: flex;
  flex-basis: 80%;
  flex-shrink: 1;
  border: none;
  background-color: rgb(233, 225, 225);
  border-radius: 15px;
}

#user-menu-img {
  height: 45px;
}

.header,
.projects,
.miscelaneous {
  background-color: white;
  color: black;
}

.miscelaneous {
  padding: 20px;
}

.news,
.trendy-users {
  background-color: rgb(250, 243, 243);
  border-radius: 15px;
  padding: 20px;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

h2, h3 {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

#magnifying-glass {
  color: black;
}

.access {
  display: flex;
  justify-content: end;
  gap: 20px;
}

#card-icon:hover,
#header-icon:hover {
  translate: 0px -10px 0px;
  cursor: pointer;
}

p {
  font-size: 18px;
}

