body {
  margin: 0;
}

svg {
  height: 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 220px 4fr;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
}

.header {
  grid-column: 2 / 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-column: 2;
  grid-row: 2;
}

.miscelaneous {
  grid-column: 3;
  grid-row: 2;
}

.search-bar {
  grid-column: 1;
  grid-row: 1;
}

.user-info {
  grid-column: 1;
  grid-row: 2;
}

.top-icons {
  grid-column: 2;
  grid-row: 1;
}

.buttons {
  grid-column: 2;
  grid-row: 2;
}

.sidebar > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 25px;
}

#title {
  font-size: 40px;
}

#dashboard {
  height: 35px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.cards > div {
  padding: 10px 60px 10px 10px;
}